@CHARSET "UTF-8";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  background: #EFEFEF;
  color: #000000;
  margin: 0px;
  cursor: default;
}

option, optgroup {
  font-style: normal;
  padding-right: 6px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 2px;
}

th {
  text-align: right;
}

th .description {
  display: block;
  font-weight: normal;
  font-size: 0.8em;
  color: #999;
}
  
/* Select tree */
ul.select-tree {
  padding: 0;
  text-align: left;
  color: #000;
  font-weight: normal;
  font-size: 1.0em;
}

ul.select-tree ul {
  padding: 0;
}

ul.select-tree li {
  list-style-type: none;
  border: 1px solid #999;
  margin-top: -1px;
  padding: 1px;
  padding-left: 3px;
  background: #fff;
  cursor: pointer;
  margin-left: 0;
}

ul.select-tree li:hover {
  background: #ccc;
}

ul.select-tree li.selected {
  background: #666;
  color: #fff;
}

ul.select-tree li.focused {
  background: #ccc;
}

ul.select-tree li.drop {
  background-image: url(images/arrow.png);
  background-position: center right;
  background-repeat: no-repeat;
}

ul.select-tree .highlight {
  background: #ddd;
}

.grippie-h {
  border: 1px solid #999;
  background: #CCC url(images/drag-n.gif) center center no-repeat;
  height: 8px;
  margin: 0;
  border-top: 0;
  cursor: n-resize;
  margin-left: 0px;
  margin-right: -4px;
}

/* DOM Creator */
.super-div {
  border: 1px solid #f00;
}

.control.slider {
  position: relative;
  width: 100%;
  height: 100%;
}

.control.slider.horizontal {
  height: 18px;
  width: 100%;
}

.control.slider.vertical {
  width: 18px;
  height: 100%;
}

/** Slider control */
.control div.slider {
  position: absolute;
  background: #fff;
  border: 1px solid #ccc;
  width: 100%;
  height: 100%;
}

.control .tooltip {
  position: absolute;
  padding: 2px;
  border: 1px solid #ccc;
  background: #fff;
}

.control.horizontal .tooltip {
  top: -20px;
}

.control.vertical .tooltip {
  right: 20px;
}

.control.horizontal div.slider {
  height: 1px;
  left: 5px;
  right: 5px;
  top: 7px;
}

.control.vertical div.slider {
  width: 1px;
  top: 5px;
  bottom: 5px;
  left: 7px;
}

/** Slider ticks */
.control .ticks {
  position: absolute;
  width: 100%;
  height: 100%;
}

.control.horizontal .ticks {
  border-left: 1px solid #999;
  left: 5px;
  right: 5px;
  top: 50%;
  height: 3px;
}

.control.horizontal.both .ticks {
  top: 25%;
  height: 7px;
}

.control.horizontal.top .ticks {
  top: 25%;
}

.control.vertical .ticks {
  border-top: 1px solid #999;
  top: 5px;
  bottom: 5px;
  left: 50%;
  width: 3px;
}

.control.vertical.both .ticks {
  left: 25%;
  width: 7px;
}

.control.vertical.left .ticks {
  left: 25%;
}

.control .ticks div {
  height: 100%;
  width: 100%;
  float: left;
}

.control.horizontal .ticks div {
  border-right: 1px solid #999;
  margin-left: -1px;
}

.control.vertical .ticks div {
  border-bottom: 1px solid #999;
  margin-top: -1px;
}

/** Slider grip */
.control .grip {
  position: absolute;
  background-image: url(images/slider.png);
  background-repeat: no-repeat;
}

.control .grip:hover {
  background-image: url(images/slider-hover.png);
}

.control .grip {
  width: 10px;
  height: 18px;
  background-position: 0px 0px;
}

.control.both .grip {
  background-position: -10px 0px;
}

.control.top .grip {
  background-position: -20px 0px;
}

.control.vertical .grip {
  height: 10px;
  width: 18px;
  background-position: -31px 0px;
}

.control.vertical.both .grip {
  background-position: -31px -10px;
}

.control.vertical.right .grip {
  background-position: -31px -20px;
}